@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("imagem/roxo 2.jpg");
    background-size: cover;
    background-repeat: repeat;  
    
}

nav {
    background: #fff;
    color: #fff;
    padding: 0 15px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(224, 139, 224);
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul.menu {
    background: #fff;
    position: absolute;
    top: 134px;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: right;
    display: none;
    flex-direction: column;
}

nav ul.menu li:not(:last-child) {
    margin-bottom: 15px;
}

nav ul.button {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

nav ul.button li {
    width: 100%;
    height: 5px;
    background: rgb(224, 139, 224);
    border-radius: 3px;
    transition: 0.3s;
}

nav ul.button:hover li {
    background: rgb(224, 139, 224);
}


.logo{
    
    display: flex;    
    color: rgb(224, 139, 224);
    font-family: 'Comfortaa',cursive;    
    font-size: 30px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;   
  margin-top: 80px;
  padding: 0 80px;
  
}
.contatos{
    width: 370px;
    padding: 50px;
    font-size: 35px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    border: 2px solid rgb(247, 204, 247);    
    background-color: white;
    opacity: 0.8;
}
.contatos a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: rgb(224, 139, 224);
    list-style: none;

}
.github{
    list-style-image: url(imagem/github.png); 
    
        
}
.email{
    list-style-image: url(imagem/email\ mini.png);  
        
}

.zap{
    list-style-image: url(imagem/zap2.png);
    margin-left: 70px;        
}

.rodape
{
  position:absolute;
  bottom:0;
  width:100%; 
  text-align: center; 
  color: white;
  font-family:Arial, Helvetica, sans-serif ;
}

@media screen and (min-width: 700px) {

    nav ul.menu {
        display: flex!important;
        flex-direction: row;
        position: relative;
        top: 0;
        padding: 0;
        background: none;
    }
    
    nav ul.menu li:not(:last-child) {
        margin-bottom: 0;
        margin-right: 15px;
    }
    
    nav ul.button {
        display: none;
    }
    
    .logo {
        font-size: 25px;
          
    }

    .menu{
      flex: none; 
      flex-direction: column;
      align-items: end;     
                 
    }
    
    .contatos{
      text-align: center;
    }   
    
    }
        
@media screen and (max-width: 700px) {
        
      .logo{        
        font-size: 25px;
    }    
    
    .menu{
         
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        margin: -60px auto;
             
    }
    .link{
        
        margin: 0;          
    }
    .container{
      margin-top: 140px;
      padding: 0 30px;
      
  }
  .contatos {
    font-size: 18px;    
    padding: 30px;
    
}

.zap{       
    margin-right:40px;        
}
}