@charset "UTF-8";

body{
    margin:0;
    padding:0;    
    background-image: url("imagem/roxo 2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}


.header {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    
}
.menu{
    display: flex;
    margin: 20px 55px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif ;
       
}

.link{
    text-decoration: none;
    color:white;
    margin-left: 30px;
    list-style: none; 
      
}

.logo{
    
    display: flex;
    color: white;
    font-family: 'Comfortaa', cursive; 
    margin: 20px 55px;
    font-size: 30px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;   
  margin-top: 80px;
  padding: 0 80px;
  
}
.contatos{
    width: 370px;
    padding: 50px;
    font-size: 35px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    border: 2px solid rgb(247, 204, 247);    
    background-color: white;
    opacity: 0.8;
}
.contatos a{
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: rgb(224, 139, 224);
    list-style: none;

}
.github{
    list-style-image: url(imagem/github.png); 
    
        
}
.email{
    list-style-image: url(imagem/email\ mini.png);  
        
}

.rodape
{
  position:absolute;
  bottom:0;
  width:100%; 
  text-align: center; 
  color: white;
  font-family:Arial, Helvetica, sans-serif ;
}

@media screen and (max-width: 350px) {

    .menu{
      flex: none; 
      flex-direction: column;
      align-items: end;     
                 
    }
    .logo {
      font-size: 25px;
      flex: none;
      margin: 10px auto;
    }
    .contatos{
      text-align: center;
    }
         
    }
        
    @media screen and (max-width: 375px) {
        
      .logo{
        margin: 30px 0 -10px -80px;
        flex-direction: row-reverse;
    }    
    
    .menu{
         
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
        margin: -60px auto;
             
    }
    .link{
        
        margin: 0;          
    }
    .container{
      margin-top: 140px;
      padding: 0 30px;
      
  }
  .contatos {
    font-size: 18px;
    text-align: center;
    padding: 30px;
}  
 
    .rodape{
                      
      font: menu; 
    }

    *{
      max-width: 100%;
  }
  
  
  body {
      
      margin: 0;
      padding: 0;      
  }
  
  #sub-menu{
      width: 35px;
      height: 30px;
      margin: 37px -20px 0px 30px;
      cursor: pointer;
  }
  
  .line{
      height: 5px;
      width: 100%;
      background-color: #b81568;
      display: block;
      border-radius: 5px;
      transition: 0.3s ease;
  }
  #line1{
      transform: translateY(-4px);
  }
  
  #line3{
      transform: translateY(4px);
  }
  
  .menu li a:hover{
      font-weight: bold;
  }
  
  .menu li{
      padding: 5px;
      margin: -2px;
      font-size: 18px;
  }
  .menu{
      padding: 0;
      margin: 0 20px;
      transition: 0.3s ease;
      display: none;
      max-width: none;
  }
  
  .menu-bg, #menu-bar{
      top: 0;
      right: 5%;
      position: absolute;
  }
  .menu-bg{
      z-index: 1;
      width: 0;
      height: 0;
      margin: 30px 0 20px 20px;   
      transition: 0.3s ease;
  }
  
  #menu-bar{
      width: 70px;
      height: 60px;
      transform: translate(-10%);
      flex-wrap: wrap;
      justify-content: center; 
      margin: 0;
      padding: 0;    
  }
  
  .change .line{
      background-color: white;
  }
  
  .change #line1{
      transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #line3{
      transform: translateY(-6px) rotate(45deg);
  }
  
  .change #line2{
      opacity: 0;
  }
  
  .change{
      display: block;
  }


          
  }
        
    @media screen and (min-width: 750px) and (max-width: 1024px) {
        
    .header{
                        
      flex-direction: column;            
                        
    }
                
    .menu{
                    
      font-size: 35px;              
                         
    }
                
    .logo{
      font-size: 50px;
        
    } 
    .contatos {
      font-size: 40px;
      padding: 200px 150px;
      text-align: center;
  }                      
  }

