@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("imagem/roxo 2.jpg");
  background-size: cover;
  background-repeat: repeat;  
  
}

nav {
  background: #fff;
  color: #fff;
  padding: 0 15px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: rgb(224, 139, 224);
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul.menu {
  background: #fff;
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  padding: 15px;
  text-align: right;
  display: none;
  flex-direction: column;
}

nav ul.menu li:not(:last-child) {
  margin-bottom: 15px;
}

nav ul.button {
  height: 25px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

nav ul.button li {
  width: 100%;
  height: 5px;
  background: rgb(224, 139, 224);
  border-radius: 3px;
  transition: 0.3s;
}

nav ul.button:hover li {
  background: rgb(224, 139, 224);
}


.logo{
  
  display: flex;    
  color: rgb(224, 139, 224);
  font-family: 'Comfortaa',cursive;    
  font-size: 30px;
}
section{
  max-width: 80%;
  margin: auto auto;
  font-family: 'Comfortaa', cursive; ;
  white-space: pre-line;
  text-align: inherit;
  color: #fff;
}
section h2{
  font-size: 23px;
}
.introdução{
  white-space: pre-line;
}
.introdução p{
  font-size: 18px;   
}
.introdução h3{
  font-size: 18px;
}
section li{
  font-size: 18px;
}
a{
  color: white;
  text-decoration: underline;
    
}
.rodape{
  margin: 200px auto 0 auto;
  padding-bottom: 15px;
  text-align: center; 
  color: white;
  font-family:Arial, Helvetica, sans-serif ;
}

@media screen and (min-width: 700px) {

  nav ul.menu {
    display: flex!important;
    flex-direction: row;
    position: relative;
    top: 0;
    padding: 0;
    background: none;
}

nav ul.menu li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 15px;
}

nav ul.button {
    display: none;
}
.menu{
  flex: none; 
  flex-direction: column;
  align-items: center;     
             
}
.logo {
  font-size: 25px;  
}
section {
  text-align: center;
 
}
   
}
    
@media screen and (max-width: 700px) {
  .logo {
    font-size: 25px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}    
        
.menu{
             
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;                
}
.link{            
  margin-left: 10px;
  margin: 0 5px;              
}
section h2{
    font-size: 21px;
  }
.rodape{
                  
  position: relative;
}
}